

.class1 {
    background: #339966;
}

.class2 {
    background: #CC9933;
}

.menu{
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 200px;
    padding: 10px;
    background-color: #02D61C;
    position:absolute;
 top:30px;
 left:30px;
}

#body1{
    position: relative;
    top:30px;
 left:270px;
    background-color: #FFDF35;
    width: 900px;
    padding: 10px;
   
    
}


h1 {
    
    font-family: 'Alegreya', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
     /*vertical-align: top;*/
    //background-image: url("#{resource['images/1.jpg']}");
  background-color:#02D61C; 
}


.img {
    border: 1px;
    border-style: solid;
}


#back{
    background-image: url("#{resource['images/tlo.jpg']}");
    background-repeat: no-repeat;
    background-size:100%;
    height: 900px;
    border: 1px;
    border-style: solid;
    
    
}

